.landing-view {
  width: 100%;
  height: 85vh;
}

.random-image-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  /* align-items: flex-start; */
}

.overlay-container {
  position: relative;
  height: 98%;
  width: 98%;
  margin: auto;

}

.random-image {
  height: 100%;
  width: 100%;
  display: block;
}

.card-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.search-message {
  text-align: center;
  padding-top: 20%;
  color: white;
}

.get-random-button {
  font-size: 1.2em;
  background-color: hsl(0, 0%, 50%, 0.5);
  outline: none;
  border: none;
  border-radius: 5px;
  position: absolute;
  top: 1%;
  left: 1.5%;
  z-index: 999;
  color: white;
}

.get-random-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.random-favorite-button {
  font-size: 1.4em;
  background-color: hsl(0, 0%, 50%, 0.5);
  outline: none;
  border: none;
  border-radius: 5px;
  position: absolute;
  top: 1%;
  right: 1%;
  z-index: 999;
}

.random-favorite-button:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.random-favorite-button-red {
  color: red;
}

.random-favorite-button-white {
  color: white;
}

.photographer {
  font-size: 0.5em;
  background-color: hsl(0, 0%, 50%, 0.5);
  position: absolute;
  bottom: 0.5%;
  left: 0.5%;
  z-index: 999;
  color: white;
}

.download-button {
  font-size: 1.6em;
  background-color: hsl(0, 0%, 50%, 0.5);
  outline: none;
  border: none;
  border-radius: 5px;
  position: absolute;
  bottom: 1%;
  right: 1%;
  z-index: 999;
  color: white;
  text-decoration: none;
}

.download-button:hover {
  cursor: pointer;
  transform: scale(1.3);
}

@media only screen and (min-width: 768px) {
  .overlay-container {
    height: 95%;
    width: 90%;
  }
}

@media only screen and (min-width: 1050px) {
  .overlay-container {
    height: 98%;
    width: 70%;
  }
}