.landing-view {
  width: 100%;
  height: 85vh;
}

.random-image-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  /* align-items: flex-start; */
}

.overlay-container {
  position: relative;
  height: 98%;
  width: 98%;
  margin: auto;

}

.random-image {
  height: 100%;
  width: 100%;
  display: block;
}

.card-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.search-message {
  text-align: center;
  padding-top: 20%;
  color: white;
}



h2 {/* test only */
  color: white;
  position: absolute;
  top: 0;
  right: 0;
}

@media only screen and (min-width: 768px) {
  .overlay-container {
    height: 95%;
    width: 90%;
  }
}

@media only screen and (min-width: 1050px) {
  .overlay-container {
    height: 98%;
    width: 70%;
  }
}